server {
  listen {{ nginx_http_port }};
  listen {{ nginx_https_port }} ssl;
  server_name {{ nginx_server_name }};

  ssl_certificate {{ nginx_tls_cert }};
  ssl_certificate_key {{ nginx_tls_key }};

  location / {
    return 200 "ok\n";
    add_header Content-Type text/plain;
  }
}
